 <!-- customer.component.html -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Customer List</h2>
    <div class="list-group">
        <ng-container *ngFor="let customer of customers">
            <div class="list-group-item list-group-item-action" >
                <a [routerLink]="['/edit-customer', customer.id]">
                    <h5 class="mb-1">ID: {{ customer.id }}</h5>
                </a>
                <p class="mb-1"><strong>Name:</strong> {{ customer.name }}</p>
                <p class="mb-1"><strong>Address:</strong> {{ customer.address }}</p>
                <p class="mb-1"><strong>Email:</strong> {{ customer.email }}</p>
                <button class="btn btn-danger btn-sm" (click)="deleteCustomer(customer.id)">Delete</button>
            </div>
        </ng-container>
        <div class="mx-auto" *ngIf="customers.length==0">
            <h3>
                Please create customer
            </h3>
        </div>
    </div>
</div>